/* template-color */

.scroll-top{
  background: #d45b07;
}

.mobile-menu .menu-backdrop{
  background: #d45b07;
}

.header-top .info-list li a:hover{
  color: #d45b07;
}

.header-top .info-list li i{
  color: #d45b07;
}

.header-top .social-links li a:hover{
  color: #d45b07;
}

.main-header .language-box .language-list{
  border-top: 2px solid #d45b07;
}

.main-header .language-box .language-list li a:hover{
  color: #d45b07;
}

.theme-btn-one{
  background: #d45b07;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
  color: #d45b07;
}

.main-menu .navigation > li > ul > li > a:hover{
  color: #d45b07;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #d45b07;
}

.main-header .search-box-btn:hover{
  color: #d45b07;
}

.banner-carousel .owl-nav .owl-prev:hover,
.banner-carousel .owl-nav .owl-next:hover{
  background: #d45b07;
}

.main-header .sticky-header .theme-btn-one:hover{
  color: #d45b07 !important;
}

.feature-block-one .inner-box .icon-box{
  color: #d45b07;
}

.feature-block-one .inner-box:before{
  background: #d45b07;
}

.quote-box .inner-box{
  border: 2px dashed #d45b07;
}

.quote-box .inner-box .icon-box{
  background: #d45b07;
}

.image_block_1 .image-box .image-1:before{
  background: #d45b07;
}

.image_block_1 .image-box .image-content{
  background: #d45b07;
}

.sec-title p{
  color: #d45b07;
}

.content_block_1 .content-box .inner-box .single-item h5 span{
  color: #d45b07;
}

.content_block_1 .content-box .inner-box .single-item h5:before{
  background: #d45b07;
}

.content_block_1 .content-box .lower-box .author-box .author-thumb{
  border: 2px solid #d45b07;
}

.content_block_1 .content-box .lower-box .experienct-box{
  border: 2px solid #d45b07;
}

.service-block-one .inner-box:hover .image-box .category{
  background: #d45b07;
}

.service-block-one .inner-box .image-box i{
  color: #d45b07;
}

.service-block-one .inner-box .lower-content h3 a:hover{
  color: #d45b07;
}

.service-block-one .inner-box .lower-content .link a:hover{
  color: #d45b07;
}

.content_block_3 .content-box .tabs-content .inner-box .text .list li:before{
  color: #d45b07;
}

.funfact-section .inner-container{
  border-top: 10px solid #d45b07;
}

.counter-block-one .inner-box .icon-box{
  color: #d45b07;
}

.project-block-one .inner-box .image-box:before{
  background: #d45b07;
}

.nav-style-one .owl-prev:hover,
.nav-style-one .owl-next:hover{
  background: #d45b07;
}

.process-block-one .inner-box:hover .icon-box{
  color: #d45b07;
}

.bg-color-2{
  background: #d45b07;
}

.cta-section .inner-box .theme-btn-one:hover{
  color: #d45b07 !important;
}

.progress-box .bar-inner{
  background: #d45b07;
}

.content_block_4 .content-box .counter-inner .inner-box .icon-box{
  color: #d45b07;
}

.progress-box .count-text:before{
  background: #d45b07;
}

.progress-box .count-text:after{
  background: #d45b07;
}

.sticky-header{
  border-bottom: 2px solid #d45b07;
}

.testimonial-block-one .inner-box{
  border-top: 10px solid #d45b07;
}

.testimonial-block-one .inner-box .icon-box{
  background: #d45b07;
}

.news-block-one .inner-box .image-box .post-date{
  background: #d45b07;
}

.news-block-one .inner-box .lower-content .post-info li a:hover{
  color: #d45b07;
}

.news-block-one .inner-box .lower-content .post-info li i{
  color: #d45b07;
}

.news-block-one .inner-box .lower-content h3 a:hover{
  color: #d45b07;
}

.footer-top .footer-info .single-item .inner .icon-box{
  color: #d45b07;
}

.footer-top .footer-info .single-item:nth-child(2) .inner{
  background: #d45b07;
}

.footer-top .widget-section .logo-widget form .form-group button{
  color: #d45b07;
}

.footer-top .widget-section .logo-widget form .form-group input:focus{
  border-color: #d45b07 !important;
}

.footer-top .widget-section .logo-widget .social-links li a:hover{
  color: #d45b07;
}

.footer-top .widget-section .links-widget .links-list li a:hover{
  color: #d45b07;
}

.footer-top .widget-section .links-widget .links-list li a:before{
  background: #d45b07;
}

.footer-top .widget-section .post-widget .post .post-thumb{
  background: #d45b07;
}

.footer-top .widget-section .post-widget .post h6 a:hover{
  color: #d45b07;
}

.footer-top .widget-section .post-widget .post .post-date{
  color: #d45b07;
}

.footer-bottom .copyright p a:hover{
  color: #d45b07;
}

.footer-bottom .footer-nav li a:hover{
  color: #d45b07;
}

.main-header.style-two .header-top .header-nav li a:hover{
  color: #d45b07;
}

.main-header .header-upper .upper-info li .icon-box{
  color: #d45b07;
}

.main-header .header-upper .upper-info li h6 a:hover{
  color: #d45b07;
}

.main-header.style-two .header-lower .search-box-btn:hover{
  color: #d45b07;
}

.content_block_5 .content-box .icon-box{
  color: #d45b07;
}

.content_block_6 .content-box .progress-inner .box .icon-box{
  color: #d45b07;
}

.content_block_7 .content-box .video-btn a{
  background: #d45b07;
}

.content_block_8 .content-box .inner-box .single-item .icon-box{
  color: #d45b07;
}

.team-block-one .inner-box .lower-content h4 a:hover{
  color: #d45b07;
}

.team-block-one .inner-box .image-box .content-box .social-links li a:hover{
  color: #d45b07;
}

.image_block_2 .image-box .icon-box span{
  background: #d45b07;
}

.testimonial-style-two .inner-container:before{
  background: #d45b07;
}

.feature-style-two .inner-container{
  border-top: 10px solid #d45b07;
}

.feature-style-two .single-item .inner-box .icon-box{
  background: #d45b07;
}

.feature-style-two .single-item .inner-box .icon-box:before{
  background: #d45b07;
}

.sticky-header .main-menu .navigation > li.current > a, 
.sticky-header .main-menu .navigation > li:hover > a{
  color: #d45b07;
}

.page-title .content-box .bread-crumb li:first-child a,
.page-title .content-box .bread-crumb li a:hover{
  color: #d45b07;
}

.project-details-content .info-box .single-info-box:before{
  background: #d45b07;
}

.project-details-content .two-column .list-item li:before{
  color: #d45b07;
}

.error-section .inner-box h1{
  color: #d45b07;
}

.service-sidebar .category-widget .category-list li a.current i,
.service-sidebar .category-widget .category-list li a:hover i{
  background: #d45b07;
}

.service-sidebar .support-box{
  background: #d45b07;
}

.service-details-content .image-box .category{
  background: #d45b07;
}

.service-details-content .image-box i{
  color: #d45b07;
}

.service-details-content .text h4{
  color: #d45b07;
}

.service-details-content .two-column .list-item li:before{
  color: #d45b07;
}

.accordion-box .block.active-block{
  background: #d45b07;
  border-color: #d45b07;
}

.accordion-box .block .acc-btn .icon-outer{
  color: #d45b07;
}

.pagination li a:hover,
.pagination li a.current{
  background: #d45b07;
}

.pagination .nav-links a:hover,
.pagination .nav-links .current{
  background: #d45b07;
}

.news-block-one .inner-box .lower-content h2 a:hover{
  color: #d45b07;
}

.blog-sidebar .sidebar-post .post .post-thumb{
  background: #d45b07;
}

.blog-sidebar .sidebar-post .post .post-date{
  color: #d45b07;
}

.blog-sidebar .sidebar-post .post h6 a:hover{
  color: #d45b07;
}

.blog-sidebar .category-widget .category-list li a:hover:before{
  background: #d45b07;
}

.blog-sidebar .tags-widget .tags-list li a:hover , .tagcloud a:hover{
  background: #d45b07;
}

.blog-details-content .post-share-option .post-tags li a:hover{
  background: #d45b07;
}

.blog-details-content .post-share-option .social-links li a:hover{
  color: #d45b07;
}

.blog-details-content .comment-box .comment .comment-info .post-date i{
  color: #d45b07;
}

.blog-details-content .comment-box .comment .reply-btn{
  background: #d45b07;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus{
  border-color: #d45b07 !important;
}

.contact-info-section .single-info-box .inner-box .icon-box{
  background: #d45b07;
}

.contact-info-section .single-info-box .inner-box p a:hover{
  color: #d45b07;
}

.contact-section .title-inner .social-links li a:hover{
  color: #d45b07;
}

/* Additional */

.wp-calendar-table #today , .wp-calendar-table #today a
{
	background :#d45b07;
}

.wp-calendar-table td a{
  color:#d45b07;
}

.wp-calendar-table-nav a:hover
{
	border:2px solid #FFA801;
}

.wp-calendar-table-nav a
{
	border:2px solid #d45b07;
	color:grey;
}

.wp-calendar-table td
{
	border:2px solid #d45b07;
}
.wp-calendar-table th{
	border:2px solid #d45b07;
}

a {
  color:#757575;
}
a:hover {
  color:#d45b07;
}
.wp-calendar-table #today, 
.wp-calendar-table #today a
{
	background :#d45b07;
}

.wp-calendar-table td a{
  color:#d45b07;
}
.wp-calendar-table-nav a
{
	border:2px solid #d45b07;
}

.wp-calendar-table td {
	border:2px solid #d45b07;
}

.wp-calendar-nav-prev a , .wp-calendar-nav-next a {
  color: #d45b07;
}

.wp-calendar-table th{
	border:2px solid #d45b07;
}
.pagination .nav-links .page-numbers:hover {
  background: #d45b07!important;
}
tbody tr th, thead th {
  color: #d45b07;
}